body{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Lucida Sans', sans-serif;
    margin: auto;
    background-color: #fcf3f8;
}

a{
    text-decoration: none;
    color: rgb(63, 27, 60);
    font-weight: bold;
    font-size: 22px;
}

h2{
    margin: 15px;
}

p{
    margin: 2px;
}