body{
    font-family: 'Lucida Sans', sans-serif;
    margin: 0px;
    padding: 0;
}

.form{
    padding: 4px;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: lightslategray;
    height: 45px;
}

.chat{
    margin-bottom: 45px;
    padding: 4px;
}

.textInput{
    width: 80%;
    border: none;
    border-radius: 8px;
    height: 20px;
    font-size: 20px;
    padding: 6px;
}

.submitInput{
    border: none;
    border-radius: 8px;
    width: 15%;
    background-color: midnightblue;
    color: white;
    height: 30px;
    margin: 8px;
}

.modelResponse{
    margin: 0px;
    background-color: lightgreen;
    border-radius: 8px;
}

.role{
    margin: 0;
    opacity: 0.8;
    font-size: 15px;
    font-style: italic;
}

.userPrompt{
    padding: 0;
    background-color:lightblue;
    border-radius: 8px;
}