body{
    font-family: 'Lucida Sans', sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #fcf3f8;
}

.form{
    padding: 4px;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: rgb(14, 15, 15);
    height: 45px;
}

.chat{
    padding: 16px;
    margin-bottom: 8px;
    min-height: 600px;
    max-height:fit-content ;
    -webkit-box-shadow: 1px -5px 18px 5px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px -5px 18px 5px rgba(0,0,0,0.24);
    box-shadow: 1px -5px 18px 5px rgba(0,0,0,0.24);
}

.textInput{
    width: 80%;
    border: none;
    border-radius: 8px;
    height: 20px;
    font-size: 20px;
    padding: 6px;
}

.submitInput{
    border: none;
    border-radius: 8px;
    width: 15%;
    background-color: rgb(63, 27, 60);
    color: white;
    height: 30px;
    margin: 8px;
}

.submitInput:hover{
    background-color: rgb(105, 40, 100);
}

.modelResponse, .role, .userPrompt{
    margin: 0;
}

.role{

    opacity: 0.8;
    font-size: 15px;
    font-style: italic;
}

.initialPhrase{
    text-align: center;
    font-size: 25px;
}
  