<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
    <title>ChatBot</title>
</head>
<body>
    
    <section class="chat">
        {%+ if result +%}
            {%for message in result -%}
                <strong class="role"> {{message.role}} </strong>
                {% if message.role == 'user' %}
                    <p class="userPrompt"> {{ message.parts[0].text }} </p>
                {% else %}
                    <p id="modelResponse" class="modelResponse"> {{ modelResponse | safe }} </p>
                {% endif %}
                <br>
            {%- endfor %}
        {% else %}  
            <p class="initialPhrase">Digite um comando</p>
        {% endif %}
    </section>
    
    <section class="form">
        <form method="post" action="/">
            <input name="text" id="text" value="{{request.form['text']}}" class="textInput">
            <input type="submit" value="Perguntar" oninput="clearInput()" class="submitInput"> 
        </form>
    </section>

    {% block javascript %}
        <script>
             function scrollToBottom() {
                var content = document.getElementById(".chat");
                content.scrollTop = content.scrollHeight;
            }
    
            // Chamada da função após o carregamento da página
            window.onload = function() {
                scrollToBottom(); // Realiza o scroll automático quando a página carrega
            };

            function clearInput(){
                if(response.length([-1])){
                    Document.getElementById("text").value = ''
                }
            }
        </script>
    {% endblock %}
</body>
</html>